/* 
auth:王欣宇  2018-03-31
components varables define*/
@mixin textAgain_center {
    text-align: center;
    img{
        width: 100%;
    }
  }


  
/* 颜色定义*/
  $main_color: #2faa33;
  $main_colorfff: #fff;
  $main_color333: #333;
  $main_color666: #666;
  $main_color999999: #999999;
  $main_placeholder: #808080;
  $main_colorNumber: #49c98b;
  $main_colorGrey: #4c4c4c;


/* 文字居中 靠左 靠右*/
$main_textRght: right;
$main_textLeft: left;
$main_textCenter: center;
/* 边框*/
$main_border: 1px solid #dedede;
 
/* 字体大小定义*/
  $fons_size_18: 0.18rem;
  $fons_size_20: 0.2rem;
  $fons_size_24: 0.24rem;
  $fons_size_26: 0.26rem;
  $fons_size_28: 0.28rem;
  $fons_size_30: 0.3rem;
/*  登录以及修改密码的按钮样式 */
 @mixin login_btn($staticM:static){
    width: 100%;
    height: 0.9rem;
    line-height: 0.9rem;
    margin:0.8rem 0 0.5rem;
    border-radius: 30px;
    font-size: $fons_size_30;
    text-align: $main_textCenter;
    color: $main_colorfff;
    background-size: 100% 100%;
    position:$staticM;
    bottom: 0.5rem;
    left: 10%;
 }
 /*  input框样式 */
 

 @mixin login_input($pLeft:1.25rem){
    display: block;
    width: 100%;
    height: 0.9rem;
    box-sizing: border-box;
    padding-left: $pLeft;
    border: $main_border;
    margin-bottom: 0.4rem;
    border-radius: 2em;
    font-size:  $fons_size_26;
    background-color: #f5f5f5;
 }
  /*  input框旁边的图标 */
@mixin login_input_icon{
    position: absolute;
    width: 0.5rem;
    height: 0.5rem;
    z-index: 100;
    left: 0.5em;
    top: 0.22rem;
    background-size: contain;
    background-repeat: no-repeat;

}
@mixin page-wrap ($pBottom:55px){
  padding-top: 40px;
  padding-bottom: $pBottom;
  padding-left: 0;
  padding-right: 0;
}
/* app component varables start*/
@mixin login_cont {
    width: 5.5rem;
    margin: 0 auto;
  }
/* app component varables end*/

/* login component varables start   */
$login_ftsize_18: 0.18rem;

/* app component varables end*/

/* Home.vue start */

$home_cate_nav_wrap_height:430px;

/* Home.vue  end */

/* Category.vue start */

$cate_wrap_width: 230px;

/* Category.vue end */

/* MainNav.vue start */

$nav_height: 50px; 

/* TopNav.vue end */


/* Carousel.vue start*/
$carousel_width: 100%; // or 1198 - 230
$carousel_margin: 0;
/* Carousel.vue end */

/* HomeFooter.vue start */



/* HomeFooter.vue end */


/* GralRank.vue start */

/* GralRank.vue end */


@mixin textStyle($fontSize: 16px, $color: #333){
    font-size: $fontSize;
    color: $color;
}