html {
  /*设置通用字体*/
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  /*chrome字体禁止缩放*/
  /* -webkit-text-size-adjust: 100%; */
  /*设置初始rem基准值*/
  /*font-size: 100px;*/
}

body, button, input, select, textarea, h1, h2, h3, h4, h5, ul, p, fieldset {
  /*清楚默认外边距*/
  margin: 0;
  font-weight: normal;
}

ul, ol, li, dl, dt, dd, tr, td, fieldset, input {
  /*去除默认内边距*/
  padding: 0;
}

a,input,textarea,select,button,div{
  /*去除外框*/
  outline: 0;
  /*去除聚焦时的阴影*/
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
}

a{
	/*去除下划线*/
	text-decoration: none;
}
a:active{
	outline: 0;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

table {
  /*把表格边框显示为一条单独的边框*/
  border-collapse: collapse;
  /*设置相邻单元格的边框间的距离为0*/
  border-spacing: 0
}

img, input, button {
  /*去除边框*/
  border: none;
}

li {
  /*去除默认圆点*/
  list-style: none;
}

img {
  /*使图片靠上对其*/
  vertical-align: top;
  /*图片自适应*/
  max-width: 100%;
  height: auto;
}

input,textarea,select,button{
	/*清除ios默认圆角*/
	border-radius: 0;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
  /*统一表单的样子*/
  -webkit-appearance: button;
}
input[type="number"]::-webkit-inner-spin-button, input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
input[type="search"] {
  /*统一搜索框的样式*/
  -webkit-appearance: textfield;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}
input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}


body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  height:100%;
  background:#f5f5f5;  
}
.page-content{
  width: 100%;
  height: 100vh;
}

.pos-r{
  position: relative;
}
.wxy{
  z-index: 999;
  height: 40px;
  top: 0;
}
.maintop{
  position: relative;
  top: 40px;
}
.pos-a{
  position: absolute;
}
.pos-f{
  position: fixed;
}
.left{
  left: 0;
}
.right{
  right: 0;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.f-l{
  float: left;
}
.f-r{
  float: right;
}

/*背景颜色*/
.b-c-f{
	background-color: white;
}
.b-c-a{
	background-color: #1A9DAF;
}
.b-c-b{
	background-color: #f5f5f5;
}
/*文字颜色*/
.c-red{
	color: rgb(249,132,132);
}
.c-yellow{
	color:rgb(252,208,92)
}
.c-orange{
	color:rgb(251,197,145)
}
.c-blue{
	color:rgb(100,209,256)
}

.c-f{
	color: white;
}

.c-3{
	color: #333;
}
.c-9{
	color: #999;
}
.c-6{
	color: #666;
}
.c-10{
	color: #101010;
}
.c-51{
	color: #E51C23;
}
.c-80{
	color: #808080;
}

/*文字大小*/
.f-s-10{
	font-size: 0.2rem;
}
.f-s-12{
	font-size: 0.24rem;
}
.f-s-13{
	font-size: 0.26rem;
}
.f-s-14 {
	font-size: 0.28rem;
}
.f-s-15{
	font-size: 0.30rem;
}
.f-s-16 {
	font-size: 0.32rem;
}
.f-s-22{
	font-size: 0.22rem;
}
.f-s-18{
	font-size: 0.36rem;
}
.f-s-30{
	font-size: 0.3rem;
}

.f-s-36 {
	font-size: 0.72rem;
}

.m-auto{
	margin: 0 auto;
}

/*外边距*/
  .m-l-10 {
	  margin-left: 0.2rem;
  }
.m-l-20 {
	margin-left: 0.4rem;
}
.m-l-30 {
	margin-left: 0.6rem;
}
.m-l-40 {
	margin-left: 0.8rem;
}
.m-t-10 {
	margin-top: 0.2rem;
}

.m-t-15 {
	margin-top: 0.3rem;
}
.m-t-20 {
	margin-top: 0.4rem;
}
.m-t-30 {
	margin-top: 0.6rem;
}
.m-r-20 {
	margin-right: 0.4rem;
}
.m-r-30 {
	margin-right: 0.6rem;
}
.m-b-30 {
	margin-bottom: 0.6rem;
}
.m-b-20{
	margin-bottom: 0.4rem;
}
.m-b-10{
	margin-bottom: 0.2rem;
}
/*内边距*/
.p-lf-15{
	padding: 0 0.3rem;
}
.p-10{
	padding: 0.2rem;
}
.p-15{
	padding: 0.3rem;
}
.p-20 {
	padding: 0.4rem;
}
.p-30 {
	padding: 0.6rem;
}
.p-t-0 {
	padding-top: 0;
}
.p-t-10 {
	padding-top: 0.2rem;
}
.p-t-40{
	padding-top: 0.8rem;
}
.p-t-12{
	padding-top: 0.24rem;
}
.p-t-20 {
	padding-top: 0.4rem;
}

.p-b-10{
	padding-bottom: 0.2rem;
}
.p-b-16{
	padding-bottom: 0.32rem;
}
.p-b-20 {
	padding-bottom: 0.4rem;
}

.p-b-30 {
	padding-bottom: 0.6rem;
}
.p-l-10{
	padding-left: 0.2rem;
}
.p-l-15{
	padding-left: 0.3rem;
}

.p-l-20{
	padding-left: 0.4rem;
}
.p-r-10{
	padding-right: 0.2rem;
}
.p-r-20{
	padding-right: 0.4rem;
}
/*外边距*/
.m-20{
	margin: 0.4rem;
}
.m-10{
	margin: 0.2rem;
}
.m-t-11{
	margin-top: 0.22rem;
}

/*定位*/
.p-ab{
	position: absolute;
}
.p-re{
	position: relative;
}
/*单行文本*/
.line-ellipsis-1 {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.mint-header{
	background: #fff !important;
  	font-size: 0.36rem !important;
	color: #333333!important;
	padding: 0 0.3rem;
}
.mintui{
  color: #666666 !important;
}
.mint-header-title{
  font-size: 0.36rem !important;
	color: #333333;
	line-height: 0.38rem;
}
.bdr-r:after {
	height: 100%;
	content: "";
	width: 1px;
	border-right: 1px solid #f0f0f0;
	-ms-transform: scaleX(.5);
	transform: scaleX(.5);
	-webkit-transform: scaleX(.5);
	z-index: 10;
}

.mint-tab-container-wrap{
	display: block!important;
}

.bd-b{
	border-bottom: 1px solid #f0f0f0;
}
.bd-r{
	border-right: 1px solid #f0f0f0;
}

.border-bottom:after {
	content: '';
	position: absolute;
	left: 0.6rem;
	top: auto;
	bottom: 0;
	right: auto;
	height: 1px;
	width: 0.75rem;
	background-color: #fff
}
.page_wrap{
	/* padding: 40px 0 55px 0; */
}
.nopage_wrap{
	padding: 40px 0 20px 0;
}
.noHeader_wrap{
	padding: 0 0 20px 0;
}
/*上拉下拉加载数据*/
.mint-loadmore-top,
.mint-loadmore-bottom{
	font-size: 0.2rem;
}
.mint-spinner-snake{
	margin:0 auto;
}
/*按钮*/
.mint-button::after{
	background: none !important;
}
.wrapper{
	-webkit-overflow-scrolling : touch;
	overflow: scroll;
}
/*重写加载动画*/
	#loaderWrap{
		transition:all 1s cubic-bezier(1,0,0.58,1)	
	}
	.loader-wrap {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		width: 2rem;
		height: 2rem;
		z-index: 999;		
	}
   .Loading{
        position: absolute;
        background-color: rgba(255,255,255,0.2);
        left:0;right:0;top:0;bottom: 0;
        width:100%;
        height:100%;
        display:flex;
        align-items:center;
        justify-content:center;
        z-index: 9999
    }
    .laodingCon{width:2rem;height: 2rem;}
    .ball {
        -webkit-animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
        -ms-animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
        -moz-animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
        animation: ball 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
        height: 2rem;
        width: 2rem;
        background: url('../../src/assets/logo1.png') no-repeat center;
        background-size: 100%
    }
    .ballshadow {
        -webkit-animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
        animation: shadow 300ms cubic-bezier(0.165, 0.840, 0.440, 1.000) infinite alternate;
        background: #000;
        bottom: -90px;
        height: 15px;
        width: 2.2rem;
        -webkit-animation-delay: 0; 
        animation-delay: 0;
        border-radius: 100%;
    }
    @-webkit-keyframes ball {
        0% {
            -webkit-transform: translateY( 0 );
            transform: translateY( 0 );
        }
        100% {
            -webkit-transform: translateY( -50px );
            transform: translateY( -50px );
        }
    }
    @keyframes ball {
        0% {
            -webkit-transform: translateY( 0 );
            transform: translateY( 0 );
        }
        100% {
            -webkit-transform: translateY( -50px );
            transform: translateY( -50px );
        }
    }

    @-webkit-keyframes shadow {
        0% {
            opacity: 0.2;
            -webkit-transform: scale( 0.3 );
            transform: scale( 0.3);
        }
        100% {
            opacity: 0.05;
            -webkit-transform: scale( 1 );
            transform: scale( 1 );
        }
    }
	@keyframes shadow {
	    0% {
	        opacity: 0.2;
	        -webkit-transform: scale( 0.3);
	        transform: scale( 0.3);
	    }
	    100% {
	        opacity: 0.05;
	        -webkit-transform: scale( 1 );
	        transform: scale( 1 );
	    }
  }
  *{
    -webkit-touch-callout:none;  /*系统默认菜单被禁用*/
    -webkit-user-select:none; /*webkit浏览器*/
    -khtml-user-select:none; /*早期浏览器*/
    -moz-user-select:none;/*火狐*/
    -ms-user-select:none; /*IE10*/
    user-select:none;
}
input,textarea {
  -webkit-user-select:auto; /*webkit浏览器*/
}
/*中间内容固定*/

.page-content{
  position: fixed;
  height: calc(100vh - 1rem);
}
.page-main{
  width: 100%;
  position: fixed;
  overflow: auto;
}
.bottom0{
  bottom: 0;  
}