body {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
  height:100%
}

.pos-r{
  position: relative;
}
.pos-a{
  position: absolute;
}
.pos-f{
  position: fixed;
}
.left{
  left: 0;
}
.right{
  right: 0;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
}
.f-l{
  float: left;
}
.f-r{
  float: right;
}
